
body {
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	background-attachment: fixed;
    background-position: center;
}
h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	
}

.video-add h3{
    font-size: xx-large;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
}
.nav-bar{
	text-decoration: none;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: x-large;
	text-align: left;
	overflow: hidden;
	position: fixed;
	top: 0%;
	width: 100%;
	left: 0%;
	

}
.nav-bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#FFC107;


}
.nav-bar ul li{
	display:inline-block;

}

.nav-bar ul :hover:not(.active){
	background-color:burlywood;


}
.active{
	background-color: burlywood;
}

.nav-bar ul li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

h1{
	font-family: ;
	color:#fff;
	font-size:50px;
	margin-top:50px;
	text-align:center;
}

.main{
	margin:100px auto;
	width:80%;
}

.sap_tabs{
	clear:both;
	padding: 0;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.r-list {
    list-style: none;
    padding: 15px 0px;
    margin: 0 auto;
    text-align: center;
	background: #FFC107;
}
.r-item {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;

    text-transform: uppercase;
    margin: 0 1.2em 0;
	color:#b1b1b1;
	padding:7px 15px;
}

.r-item:hover{
	font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;

    text-transform: uppercase;
    margin: 0 1.2em 0;
	color:white;
	padding:7px 15px;
}

.r-container {
	padding: 0px;
	clear: left;	
}

form {
    background:rgba(3, 3, 3, 0.57);
    padding: 25px;
}
h3 {
    font-size: 16px;
    color:#FFC107;
    margin-bottom: 7px;
}
.from,.to,.date,.depart,.return{
	width:48%;
	float:left;
}
.return{
	display: none;
}

.from,.to,.date{
	margin-bottom:40px;
}
.from,.date,.depart{
	margin-right:4%;
}
input[type="text"]{
	padding:10px;
	width:93%;
	float:left;
}
input#datepicker,input#datepicker1,input#datepicker2,input#datepicker3 {
    width: 85%;
	margin-bottom:10px;
}

select#w3_country1 {
    padding: 10px;
	float:left;
	
}
label.checkbox {
  display: inline-block;
}
footer{
	background-color: #FFC107;
	height: 250px;
	
}	
.footer-left{
	text-align: left;
	width: 30%;
    
}

.footer-cen{
    text-align: center;
	width: 30%;
    text-decoration: none;

}
.footer-right{
	text-align: right;
	width: 30%;
}


input[type="submit"] {
    font-size: 14px;
    color: #fff;
    background:#ffc107;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-top: 50px;
	cursor:pointer;

}

.video-add{
	background-color: #999;
    opacity: 0.8;
	text-align: center;
	margin-bottom: 30px;
	left: 0%;
}
.video-add video{
	padding-top: 20px;
	padding-bottom: 20px;
	
	
}

